<h1>Supervisors</h1>
<!--<table class="table table-striped table-hover table-bordered">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Hostname</th>-->
<!--      <th>Port</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <!--<tbody>-->
<% @supervisors.each do |supervisor| %>
  <%= render 'supervisors/show', supervisor: supervisor %>
<% end %>
<!--  </tbody>-->
<!--</table>-->

<br>
