<footer class="footer">
  <small>
    Copyright by David Skoda
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Github", 'https://github.com/dskoda1/rails-supervisor-watcher' %></li>
    </ul>
  </nav>
</footer>